# Compiled sources #
####################
*.class

# Packages #
############
*.zip
*.gz
*.jar
*.tar

# Logs and dbs #
################
*.log
*.sqlite

# Ansible #
###########
ansible_vault_password.txt

# Vagrant #
###########
.vagrant

# Java config #
###############
secure.properties
**/config/application.properties

# Maven build files #
#####################
target/

# temp files #
##############
out.txt
site.retry
.Trash-1000/

# Dynamo db local files            #
# (do mvn test-compile to recover) #
####################################
native-libs

